################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/webstudy
/Abstractions/obj
/Api/bin/Debug/netcoreapp2.2
/Api/obj
/Services/obj
/webstudy/obj
